
.menu {
	font-family: 'Righteous', cursive;
	width: 100%;
	height: 50px;
	background-color: #f22613;
	position: fixed;
	z-index: 3;
	/*text-transform:;*/
	transition: all .4s;
}

.menu ul {
	list-style: none;
	position: relative;
}

.menu ul li {
	width: 150px;
	float: left;
}
.menu a {
	padding:15px;
	display: block;
	text-decoration: none;
	text-align: center;
	background-color: #f22613;
	color:#fff;
}
.menu ul ul {
	position: absolute;
	visibility: hidden;
}
.menu ul li:hover ul {
	visibility: visible;

}
.menu a:hover {
	background-color: #d91e18;
	color: #fff;
}
.menu ul ul li {
	float: none;
	/*border-bottom: solid 1px #ccc; */
}
.menu ul ul li a {
	background-color: #96281b;
}
label[for="bt_menu"]{
	padding: 5px;
	background-color: #f22613;
	color:#fff;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	width: 50px;
	height: 50px;
}
#bt_menu {
	display: none;
}
label[for="bt_menu"]{
	display: none;
}

		.active {	
			background-color: rgba(255,255,255,0.4);
		}
		.active a { 
			background-color: inherit;
			/*color: #273c75;*/
			color: #333;
		}
		.active ul li ul li a {
			color: #fff;
		}
.redes-sociais li a {
	color:#fff;
}
.redes-sociais li a:hover {
	color:#f22613;
}
@media(max-width: 768px) {

	label[for="bt_menu"]{
		display: block;
	}

	#bt_menu:checked ~ .menu {
		margin-left: 0;
	}
	.menu {	
		margin-left: -100%;
		transition: all .4s;
		z-index: 3;
		position:absolute;
	}
	.menu ul li {
		width: 100%;
		float: none;
	}
	.menu ul ul {
		position: static;
		overflow: hidden;
		max-height: 0;
		transition: all .4s;
	}
	.menu ul li:hover ul {
		height: auto;
		max-height: 200px;
	}


		.active {				
			background-color: #f22613;
		}
		.active a { 
			background-color: #f22613;
			color: #fff;
		}
			 
}