	html,body {
		/*min-height: 100%;*/
		height: 100%;
		/*position: relative;*/
	}  
	* {
		margin: 0;
		padding: 0;
	}
	#form-contato{
		margin-top: 20px;
		margin-bottom: 30px;
		
	}
	#form-contato input, textarea[name=mensagem]{
		background-color: #c8d6e5;
			

	}

	input[placeholder], textarea[name=mensagem] { /*  Customiza o textarea do form de contato */
		font-weight: bold;
		letter-spacing: -1px;
	}

	#boxMensagem {
		overflow-x: hidden; /* Tira a barra de rolagem do horizontal do modal notícias*/
	}
	
	.popover-title{
		background: #000;
	}
	/* Customiza o estilo da mensagem do alertify */
	.ajs-message.ajs-error, .ajs-message.ajs-success {
		color: #fff !important;
		text-shadow: 2px 1px #333;
	}

	/* Colocando um X para fechar o dialog */
	.ui-dialog .ui-dialog-titlebar-close{	
		height: 24px;
	}
	.ui-dialog-titlebar-close::before {
		content: "X";


	}
	.titulo-midias{
		width:200px;
		border-bottom:4px solid red;
		height:40px;   
		font-family: 'Righteous', cursive; 
	}
	.thumbnail .caption {
		padding: 2px;
	}

	.media-left{
		padding: 4px 4px;
		width: 500px;
	}

	.box-data {
		/*background-color: #444;*/
		-webkit-border-radius: 4px;
		border-radius: 4px;
		text-align: center;
		color: #FFF;
	}

	.box-data-agenda{
		background-color: #e74c3c;

	} 

	.box-data-noticia{
		background-color: #333;

	} 

	.media-heading, .text-muted{
		margin-left: 8px;

	}

	.topo {
		background-color: #000;
		width: 40px;
		height: 40px;
		color:#fff;
		text-align: center;
		line-height: 40px;
		font-size: 28px;
		position: fixed;
		right: 20px;
		bottom: 12px;
		cursor: pointer;
		box-shadow: 2px 2px #333;
		z-index: 4;
	}

	.content-center{
		padding-top: 46px;
	}
	.historia {
		background-color: #000; 
		color:#fff; 
		text-align: justify;
	}
	.thumnails {

		height: 200px;
		/*padding-left: 2px;*/
		width: 240px;
		/*border-radius: 8px;*/
		border: solid 5px #eee;
	}
	.img-circle {
		width: 180px;
		border: 1px solid #fff;
		box-shadow: 2px 2px #333;
	}
	.thumbnail {

		background-color: rgba(58,83,155,0.0	); 
	}
	h3 {
		color: #000;
		letter-spacing: -1px;
		font-size: 2em;
	}
	h2 {
		margin-bottom: 40px;
		font-family: 'Righteous', cursive;
	}
	h2 > span {

		border-bottom: 10px solid #d91e18;
		padding-bottom: 8px;
	}
	.btn-danger {
		font-family: 'Righteous', cursive;
		color: #fff;
		text-transform: uppercase;
		width: 200px;
	}

	.damiao{
		font-family: 'Dancing Script', cursive;
		font-size: 38px;
	}

	.header-site{

		background-image: url('../img/bg-fundo.jpg');
		position: center top;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		color: #fff;
		padding-top: 80px;
		padding-bottom: 20px;
	}
	.content-site {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.img-site{
		background-image: url('../img/bg-membros.jpg');
		position: center top;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		color: #fff;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.footer-site {
		background-color: #444;
		color: #fff;
		padding-top: 2px;
		padding-bottom: 2px;
	}
	.rodape-column {

		background-color: #000;
		width: 50%;
		float: left;
		color:#fff;
		text-align: center;
		height: 228px;
		padding: 20px 0;  
	}
	.texto-rodape-esquerda {

		width: 420px;
		text-align: justify;
		display: inline-block;
		font-size: 1.1em;
	}
	.rodape-column h3 {
		color:#fff;
		font-family: 'Righteous', cursive;
	}
	.rodape-column p {
		font-size: 0.9em;
	} 
	.col-md-6.text-left {
		padding-top: 20px;
	}

	.redes-sociais {

		list-style: none;
		font-size: 2.1em;
	}
	.redes-sociais li {
		width: 49px;
		display: inline-block;
	}
	section.content-site .container p{
		line-height: 2em;
		text-indent: 2em;
	}
	section.content-site .container p:first-letter{
		font-size: 28px;
		font-family: 'Dancing Script', cursive;
	}
	.slick-membros .col-sm-3 .thumbnail h3{
		font-family: 'Dancing Script', cursive;
		font-size: 2.7em;
		color:#fff;
		text-shadow: 1px 1px #222;
	}
	.slick-membros .col-sm-3 .thumbnail p{
		color:#fff;

	}
	@media screen and (max-width: 768px){

		.img-sm {
			width: 320px;
		}
		.thumnails {
			height: 150px;
			padding-left: 2px;
			width: 218px;
		}

		.rodape-column {

			width: 100%;
			display:block;
			padding: 2px; 

		}
		.texto-rodape-esquerda {
			width: 90%;

		}
		.col-md-6.text-right, .col-md-6.text-left{
			text-align: center;

		}
		.afasta-input-form {
			margin-bottom: 16px;
		}
	}