* {
	margin: 0;
	padding: 0;
}

.thumnails {

	height: 200px;
	padding-left: 2px;
	width: 240px;
	border-radius: 8px;
}

h1{
	font-family: 'Righteous', cursive;
}

.header-site{
	/*background-image: url('../img/bg-fusca-azul.jpg');*/
	background-image: url('../img/capa.png');
	position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	padding-top: 200px;
	padding-bottom: 200px;
}
.content-site {
	padding-top: 50px;
	padding-bottom: 50px;
}
.img-site{
	background-image: url('../img/bg-fusca.jpeg');
	position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
}

.footer-site {
	background-color: #333;
	color: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
}

@media screen and (max-width: 768px){
	.thumnails {
		height: 150px;
		padding-left: 2px;
		width: 218px;
	}
}